@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */
*{
    padding: 0px;
    margin: 0px;
}
#hero{
   
    background: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),url('../piso-assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 919px;
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row;
    gap: 5; */
}
#hero .hero-content{
    width: 818px;
    color: white;
}
.subtitle{

    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;

}

.title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
}

.description{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}
.btn{
    padding: 13px 18px 13px 18px;
    color: rgb(224, 248, 249);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 30px;

    border-radius: 10px;
    background: rgb(82, 195, 3);
    border: none;
}
.button{
    text-align: center;
}